.login {
    width: stretch;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px ;
    padding: 5px;
    height: 40px;
  
    
}

.text-container {
    text-align: center;
    margin-bottom: 200px;
    color: white;
    
}

.input-container {
    height: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(255, 255, 255, 0.1);
    width: 50%;
    border-radius: 5px;
    padding: 0.7rem;
    padding-left: 5px;
    color: white;
    display: block;
    
}

.login-button {
   
    background-color: rgba(255, 255, 255, 0.2);
    width: 25%;
    margin-left: 10px;
    margin-right:10px;
    border-color: rgb(238, 226, 226);
    border-radius: 5px;
    font-size: 1.0rem;
    font-weight: 400;   
    padding: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    
}

.login-button:hover {
    cursor: pointer;
    
}

.disclaimer{
    margin-left: auto;
    margin-right:auto;
    margin-top: 100px;
    
}

input{
   
    width: 100%;
    background-color: rgb(255, 255, 255, 0.0);
    outline: none;
    border:none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.createNewUser {
    padding: auto;
    margin-top: 300px;
    margin-right: 650px;
    
}

.disclaimer {
    padding: auto;
    margin-left: 120px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 200px;

}