.disclaimer {
    padding: auto;
    margin-left: 25%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: auto;

}

.createUSerbutton {
   
    background-color: rgba(255, 255, 255, 0.1);
    width: 25%;
    margin-left: 10px;
    margin-right:10px;
    border-color: rgb(238, 226, 226);
    border-radius: 5px;
    font-size: 1.0rem;
    font-weight: 400;   
    padding: auto;
    margin-top: 5px;
    margin-bottom: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    
}
