.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

